@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
body {
  background-color: #f9fafb;
  color: #22333b;
  font-family: "Montserrat", sans-serif;
  margin-right: 0%;
}

body div {
  grid-template-columns: auto;
  grid-template-rows: 10% auto 35% 12%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas: "header" "aside" "article" "footer";
}

body div #conteiner header {
  background-color: #FAF5F2;
  font-family: "Montserrat", sans-serif;
  color: #22333b;
  border-bottom: solid 3px #fceee6;
}

body div #conteiner header .sizeLogo {
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 80px;
  justify-content: flex-start;
}

body div #conteiner header div {
  display: inline;
  align-items: center;
  justify-content: start;
}

body div #conteiner header div form input {
  border: 0;
  text-decoration-line: underline;
  text-decoration-color: #22333b;
  background-color: #fceee6;
  background-image: linear-gradient(to bottom, #fceee6, #faf5f2);
}

body div #conteiner header .menus ul {
  display: flex;
  flex-wrap: row;
  align-items: strech;
  justify-content: center;
}

body div #conteiner header .menus ul li {
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

body div #conteiner header .imgNav {
  display: inline;
  align-items: stretch;
  justify-content: end;
  max-width: 25px;
  max-height: 25px;
}

body div #conteiner header a {
  text-decoration: none;
  color: #22333b;
}

body div #conteiner header a:hover {
  color: #22333b;
  text-decoration: underline;
}

body div #conteiner header div {
  display: inline;
  align-items: center;
  justify-items: flex-end;
}

body div #conteiner header div #boton {
  background-image: linear-gradient(to bottom, #fceee6, #fceee6);
  border: none;
  transition: 1s;
}

body div #conteiner header div #boton:hover {
  font-size: 18px;
}

body div aside h3 {
  text-align: center;
  padding-bottom: 150px;
  padding-top: 50px;
}

body div .presentacion {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 16px;
  line-height: 1.5em;
}

body div footer {
  background-color: #FAF5F2;
  font-family: "Montserrat", sans-serif;
  color: #22333b;
  border-top: solid 3px #fceee6;
}

body div footer img {
  max-width: 25px;
  max-height: 25px;
}

body div a {
  text-decoration: none;
  color: #22333b;
}

body div a:hover {
  color: #22333b;
  text-decoration: underline;
}

body div #boton {
  background-image: linear-gradient(to bottom, #fceee6, #fceee6);
  border: none;
  transition: 1s;
}

body div #boton:hover {
  font-size: 18px;
}
